
/* ------------------------------------------- */
/* ---------- G : .button -------------------- */

.button.success, .button.pair-icon > .icon.success {
    background-color: #2ecc71;
    color: #fff;
}

.button.success:hover, .button.pair-icon.success > .icon {
    background-color: #29b362;
}

.button.alert, .button.pair-icon > .icon.alert {
    background-color: #f3be00;
    color: #fff;
}

.button.alert:hover, .button.pair-icon.alert > .icon {
    background-color: #e5b400;
}

.button.error, .button.pair-icon > .icon.error {
    background-color: #e74c3c;
    color: #fff;
}

.button.error:hover, .button.pair-icon.error > .icon {
    background-color: #cf4536;
}

.button.info, .button.pair-icon > .icon.info {
    background-color: #1abc9c;
    color: #fff;
}

.button.info:hover, .button.pair-icon.info > .icon {
    background-color: #17a387;
}

.button.submit, .button.pair-icon > .icon.submit {
    background-color: #2572eb;
    color: #fff;
}

.button.submit:hover, .button.pair-icon.submit > .icon {
    background-color: #2165d1;
}

.button.night, .button.pair-icon > .icon.night {
    background-color: #34495e;
    color: #fff;
}

.button.night:hover, .button.pair-icon.night > .icon {
    background-color: #1d2a36;
}

.button.sky, .button.pair-icon > .icon.sky {
    background-color: #00bff3;
    color: #fff;
}

.button.sky:hover, .button.pair-icon.sky > .icon {
    background-color: #00aad9;
}

.button.spirit, .button.pair-icon > .icon.spirit {
    background-color: #00d8cc;
    color: #fff;
}

.button.spirit:hover, .button.pair-icon.spirit > .icon {
    background-color: #00bfb6;
}

.button.flower, .button.pair-icon > .icon.flower {
    background-color: #ff76bc;
    color: #fff;
}

.button.flower:hover, .button.pair-icon.flower > .icon {
    background-color: #e56aaa;
}

.button.sea, .button.pair-icon > .icon.sea {
    background-color: #3498db;
    color: #fff;
}

.button.sea:hover, .button.pair-icon.sea > .icon {
    background-color: #2b7eb5;
}

.button.toxic, .button.pair-icon > .icon.toxic {
    background-color: #8dc63f;
    color: #fff;
}

.button.toxic:hover, .button.pair-icon.toxic > .icon {
    background-color: #7aad37;
}

.button.sunset, .button.pair-icon > .icon.sunset {
    background-color: #f39c12;
    color: #fff;
}

.button.sunset:hover, .button.pair-icon.sunset > .icon {
    background-color: #d98b0f;
}

.button.cloud, .button.pair-icon > .icon.cloud {
    background-color: #e8eff1;
    color: #333;
}

.button.cloud:hover, .button.pair-icon.cloud > .icon {
    background-color: #d0d7d9;
}

.button.purple, .button.pair-icon > .icon.purple {
    background-color: #9d60b6;
    color: #fff;
}

.button.purple:hover, .button.pair-icon.purple > .icon {
    background-color: #854c9c;
}

.button.silver, .button.pair-icon > .icon.silver {
    background-color: #bdc3c7;
    color: #fff;
}

.button.silver:hover, .button.pair-icon.silver > .icon {
    background-color: #a5aaad;
}

/* border buttons */

.button.bordered.success, .button.bordered.sea, .button.bordered.alert, .button.bordered.error, .button.bordered.submit, 
.button.bordered.info, .button.bordered.night, .button.bordered.sky, .button.bordered.flower, .button.bordered.spirit, 
.button.bordered.sea, .button.bordered.toxic, .button.bordered.sunset, .button.bordered.cloud, .button.bordered.purple, 
.button.bordered.silver {
    background-color: transparent;
    color: #666;
}

.button.bordered.success:hover, .button.bordered.sea:hover, .button.bordered.alert:hover, .button.bordered.error:hover, .button.bordered.submit:hover, 
.button.bordered.info:hover, .button.bordered.night:hover, .button.bordered.sky:hover, .button.bordered.flower:hover, .button.bordered.spirit:hover, 
.button.bordered.sea:hover, .button.bordered.toxic:hover, .button.bordered.sunset:hover, .button.bordered.cloud:hover, .button.bordered.purple:hover, 
.button.bordered.silver:hover {
    background-color: #f3f7f5;
}

.button.bordered.success:active, .button.bordered.sea:active, .button.bordered.alert:active, .button.bordered.error:active, .button.bordered.submit:active, 
.button.bordered.info:active, .button.bordered.night:active, .button.bordered.sky:active, .button.bordered.flower:active, .button.bordered.spirit:active, 
.button.bordered.sea:active, .button.bordered.toxic:active, .button.bordered.sunset:active, .button.bordered.cloud:active, .button.bordered.purple:active, 
.button.bordered.silver:active {
    background-color: #e3e3e1;
    box-shadow: none;
}

.button.bordered.success:hover {
    border-color: #2ecc71;
}

.button.bordered.success > .icon {
    color: #2ecc71;
}

.button.bordered.sea:hover {
    border-color: #3498db;
}

.button.bordered.sea > .icon {
    color: #3498db;
}

.button.bordered.alert:hover {
    border-color: #f3be00;
}

.button.bordered.alert > .icon {
    color: #f3be00;
}

.button.bordered.error:hover {
    border-color: #e74c3c;
}

.button.bordered.error > .icon {
    color: #e74c3c;
}

.button.bordered.submit:hover {
    border-color: #2572eb;
}

.button.bordered.submit > .icon {
    color: #2572eb;
}

.button.bordered.info:hover {
    border-color: #1abc9c;
}

.button.bordered.info > .icon {
    color: #1abc9c;
}

.button.bordered.night:hover {
    border-color: #34495e;
}

.button.bordered.night > .icon {
    color: #34495e;
}

.button.bordered.sky:hover {
    border-color: #00bff3;
}

.button.bordered.sky > .icon {
    color: #00bff3;
}

.button.bordered.flower:hover {
    border-color: #ff76bc;
}

.button.bordered.flower > .icon {
    color: #ff76bc;
}

.button.bordered.spirit:hover {
    border-color: #00d8cc;
}

.button.bordered.spirit > .icon {
    color: #00d8cc;
}

.button.bordered.toxic:hover {
    border-color: #8dc63f;
}

.button.bordered.toxic > .icon {
    color: #8dc63f;
}

.button.bordered.sunset:hover {
    border-color: #f39c12;
}

.button.bordered.sunset > .icon {
    color: #f39c12;
}

.button.bordered.cloud:hover {
    border-color: #e8eff1;
}

.button.bordered.cloud > .icon {
    color: #e8eff1;
}

.button.bordered.purple:hover {
    border-color: #9d60b6;
}

.button.bordered.purple > .icon {
    color: #9d60b6;
}

.button.bordered.silver:hover {
    border-color: #bdc3c7;
}

.button.bordered.silver > .icon {
    color: #bdc3c7;
}


/* icons in buttons */

.simple-icon.icon-right-w, .center-icon.icon-right-w, .pair-icon.icon-right-w:after {
    background-image: url('images/button_icon_right_w.png');
}

.simple-icon.icon-right-b, .center-icon.icon-right-b, .pair-icon.icon-right-b:after {
    background-image: url('images/button_icon_right_b.png');
}

.simple-icon.icon-left-w, .center-icon.icon-left-w, .pair-icon.icon-left-w:after {
    background-image: url('images/button_icon_left_w.png');
}

.simple-icon.icon-left-b, .center-icon.icon-left-b, .pair-icon.icon-left-b:after {
    background-image: url('images/button_icon_left_b.png');
}

.simple-icon.icon-success-w, .center-icon.icon-success-w, .pair-icon.icon-success-w:after {
    background-image: url('images/button_icon_ok_w.png');
}

.simple-icon.icon-success-b, .center-icon.icon-success-b, .pair-icon.icon-success-b:after {
    background-image: url('images/button_icon_ok_b.png');
}

.simple-icon.icon-error-w, .center-icon.icon-error-w, .pair-icon.icon-error-w:after {
    background-image: url('images/button_icon_cross_w.png');
}

.simple-icon.icon-error-b, .center-icon.icon-error-b, .pair-icon.icon-error-b:after {
    background-image: url('images/button_icon_cross_b.png');
}

.simple-icon.icon-reload-w, .center-icon.icon-reload-w, .pair-icon.icon-reload-w:after {
    background-image: url('images/button_icon_reload_w.png');
}

.simple-icon.icon-reload-b, .center-icon.icon-reload-b, .pair-icon.icon-reload-b:after {
    background-image: url('images/button_icon_reload_b.png');
}

.simple-icon.icon-update-w, .center-icon.icon-update-w, .pair-icon.icon-update-w:after {
    background-image: url('images/button_icon_update_w.png');
}

.simple-icon.icon-update-b, .center-icon.icon-update-b, .pair-icon.icon-update-b:after {
    background-image: url('images/button_icon_update_b.png');
}

.simple-icon.icon-download-w, .center-icon.icon-download-w, .pair-icon.icon-download-w:after {
    background-image: url('images/button_icon_download_w.png');
}

.simple-icon.icon-download-b, .center-icon.icon-download-b, .pair-icon.icon-download-b:after {
    background-image: url('images/button_icon_download_b.png');
}

.simple-icon.icon-help-w, .center-icon.icon-help-w, .pair-icon.icon-help-w:after {
    background-image: url('images/button_icon_help_w.png');
}

.simple-icon.icon-help-b, .center-icon.icon-help-b, .pair-icon.icon-help-b:after {
    background-image: url('images/button_icon_help_b.png');
}

.simple-icon.icon-info-w, .center-icon.icon-info-w, .pair-icon.icon-info-w:after {
    background-image: url('images/button_icon_info_w.png');
}

.simple-icon.icon-info-b, .center-icon.icon-info-b, .pair-icon.icon-info-b:after {
    background-image: url('images/button_icon_info_b.png');
}

.simple-icon.icon-trash-w, .center-icon.icon-trash-w, .pair-icon.icon-trash-w:after {
    background-image: url('images/button_icon_recycle_w.png');
}

.simple-icon.icon-trash-b, .center-icon.icon-trash-b, .pair-icon.icon-trash-b:after {
    background-image: url('images/button_icon_recycle_b.png');
}

.simple-icon.icon-alert-w, .center-icon.icon-alert-w, .pair-icon.icon-alert-w:after {
    background-image: url('images/button_icon_alert_w.png');
}

.simple-icon.icon-alert-b, .center-icon.icon-alert-b, .pair-icon.icon-alert-b:after {
    background-image: url('images/button_icon_alert_b.png');
}

.simple-icon.icon-back-w, .center-icon.icon-back-w, .pair-icon.icon-back-w:after {
    background-image: url('images/button_icon_back_w.png');
}

.simple-icon.icon-back-b, .center-icon.icon-back-b, .pair-icon.icon-back-b:after {
    background-image: url('images/button_icon_back_b.png');
}

.simple-icon.icon-forward-w, .center-icon.icon-forward-w, .pair-icon.icon-forward-w:after {
    background-image: url('images/button_icon_forward_w.png');
}

.simple-icon.icon-forward-b, .center-icon.icon-forward-b, .pair-icon.icon-forward-b:after {
    background-image: url('images/button_icon_forward_b.png');
}

/* ----------------------------------------- */
/* ---------- G : .bubbles ----------------- */

.bubble-lefttop.success:before {
    border-right-color: #2ecc71;
}

.bubble-lefttop.success:hover:before {
    border-right-color: #29b362;
}

.bubble-righttop.success:before {
    border-left-color: #2ecc71;
}

.bubble-righttop.success:hover:before {
    border-left-color: #29b362;
}

.bubble-topleft.success:before {
    border-bottom-color: #2ecc71;
}

.bubble-topleft.success:hover:before {
    border-bottom-color: #29b362;
}

.bubble-bottomleft.success:before {
    border-top-color: #2ecc71;
}

.bubble-bottomleft.success:hover:before {
    border-top-color: #29b362;
}

/* ----------------------------------------- */
/* ---------- G : .message ----------------- */

.message.success {
    background-color: #2ecc71;
    color: #fff;
}

.message.info {
    background-color: #3aabf6;
    color: #fff;
}

.message.error {
    background-color: #e74c3c;
    color: #fff;
}

.message.alert {
    background-color: #f1c40f;
    color: #333;
}

.message.light.success {
    background-color: #2ecc71;
    background-color: rgba(46,204,113,0.2);
    border-color: rgba(46,204,113,0.5);
    color: #333;
}

.message.light.success > .topic {
    color: rgba(39,174,96,1);
}

.message.light.info {
    background-color: #3aabf6;
    background-color: rgba(52,152,219,0.2);
    border-color: rgba(52,152,219,0.5);
    color: #333;
}

.message.light.info > .topic {
    color: rgba(41,128,185,1);
}

.message.light.alert {
    background-color: #f1c40f;
    background-color: rgba(241,196,15,0.2);
    border-color: rgba(241,196,15,0.5);
    color: #333;
}

.message.light.alert > .topic {
    color: rgba(243,156,18,1);
}

.message.light.error {
    background-color: #e74c3c;
    background-color: rgba(231,76,60,0.2);
    border-color: rgba(231,76,60,0.5);
    color: #333;
}

.message.light.error > .topic {
    color: rgba(231,76,60,1);
}

/* -------------------------------------- */
/* ---------- G : .tabs ----------------- */

.tabsbox.snow-box {
    background-color: #f5f7f6;
    color: #333;
}

.tabsbox.success-box {
    background-color: #2ecc71;
    color: #fff;
}

.tabsbox.toxic-box {
    background-color: #8dc63f;
    color: #fff;
}

.tabsbox.success-tab > .tabs > .tab:hover {
    color: #2ecc71;
}

.tabsbox.success-tab > .tabs > .tab.active {
    background-color: #2ecc71;
    color: #fff;
}

.tabsbox.success-tab > .tabs > .tab.active:hover {
    color: #fff;
}

.tabsbox.success-tab > .bodies {
    background-color: #2ecc71;
    color: #fff;
}
