
/* ------------------------------------------- */
/* ---------- G : .button -------------------- */

.button.success, .pair-icon.icon-success:after {
    background-color: #2ecc71;
    color: #fff;
}

.button.success:hover, .pair-icon:hover.icon-success:after {
    background-color: #29b362;
}

.button.alert, .pair-icon.icon-alert:after {
    background-color: #f3be00;
    color: #fff;
}

.button.alert:hover, .pair-icon:hover.icon-alert:after {
    background-color: #e5b400;
}

.button.error, .pair-icon.icon-error:after {
    background-color: #e74c3c;
    color: #fff;
}

.button.error:hover, .pair-icon:hover.icon-error:after {
    background-color: #cf4536;
}

.button.info, .pair-icon.icon-info:after {
    background-color: #1abc9c;
    color: #fff;
}

.button.info:hover, .pair-icon:hover.icon-info:after {
    background-color: #17a387;
}

.button.submit, .pair-icon.icon-submit:after {
    background-color: #2572eb;
    color: #fff;
}

.button.submit:hover, .pair-icon:hover.icon-submit:after {
    background-color: #2165d1;
}

.button.night, .pair-icon.icon-night:after {
    background-color: #34495e;
    color: #fff;
}

.button.night:hover, .pair-icon:hover.icon-night:after {
    background-color: #1d2a36;
}

.button.sky, .pair-icon.icon-sky:after {
    background-color: #00bff3;
    color: #fff;
}

.button.sky:hover, .pair-icon:hover.icon-sky:after {
    background-color: #00aad9;
}

.button.spirit, .pair-icon.icon-spirit:after {
    background-color: #00d8cc;
    color: #fff;
}

.button.spirit:hover, .pair-icon:hover.icon-spirit:after {
    background-color: #00bfb6;
}

.button.flower, .pair-icon.icon-flower:after {
    background-color: #ff76bc;
    color: #fff;
}

.button.flower:hover, .pair-icon:hover.icon-flower:after {
    background-color: #e56aaa;
}

.button.sea, .pair-icon.icon-sea:after {
    background-color: #3498db;
    color: #fff;
}

.button.sea:hover, .pair-icon:hover.icon-sea:after {
    background-color: #2b7eb5;
}

.button.toxic, .pair-icon.icon-toxic:after {
    background-color: #8dc63f;
    color: #fff;
}

.button.toxic:hover, .pair-icon:hover.icon-toxic:after {
    background-color: #7aad37;
}

.button.sunset, .pair-icon.icon-sunset:after {
    background-color: #f39c12;
    color: #fff;
}

.button.sunset:hover, .pair-icon:hover.icon-sunset:after {
    background-color: #d98b0f;
}

.button.cloud, .pair-icon.icon-cloud:after {
    background-color: #e8eff1;
    color: #333;
}

.button.cloud:hover, .pair-icon:hover.icon-cloud:after {
    background-color: #d0d7d9;
}

.button.purple, .pair-icon.icon-purple:after {
    background-color: #9d60b6;
    color: #fff;
}

.button.purple:hover, .pair-icon:hover.icon-purple:after {
    background-color: #854c9c;
}

.button.silver, .pair-icon.icon-silver:after {
    background-color: #bdc3c7;
    color: #fff;
}

.button.silver:hover, .pair-icon:hover.icon-silver:after {
    background-color: #a5aaad;
}

/* icons in buttons */

.simple-icon.icon-right-w, .center-icon.icon-right-w, .pair-icon.icon-right-w:after {
    background-image: url('images/button_icon_right_w.png');
}

.simple-icon.icon-right-b, .center-icon.icon-right-b, .pair-icon.icon-right-b:after {
    background-image: url('images/button_icon_right_b.png');
}

.simple-icon.icon-left-w, .center-icon.icon-left-w, .pair-icon.icon-left-w:after {
    background-image: url('images/button_icon_left_w.png');
}

.simple-icon.icon-left-b, .center-icon.icon-left-b, .pair-icon.icon-left-b:after {
    background-image: url('images/button_icon_left_b.png');
}

.simple-icon.icon-success-w, .center-icon.icon-success-w, .pair-icon.icon-success-w:after {
    background-image: url('images/button_icon_ok_w.png');
}

.simple-icon.icon-success-b, .center-icon.icon-success-b, .pair-icon.icon-success-b:after {
    background-image: url('images/button_icon_ok_b.png');
}

.simple-icon.icon-error-w, .center-icon.icon-error-w, .pair-icon.icon-error-w:after {
    background-image: url('images/button_icon_cross_w.png');
}

.simple-icon.icon-error-b, .center-icon.icon-error-b, .pair-icon.icon-error-b:after {
    background-image: url('images/button_icon_cross_b.png');
}

.simple-icon.icon-reload-w, .center-icon.icon-reload-w, .pair-icon.icon-reload-w:after {
    background-image: url('images/button_icon_reload_w.png');
}

.simple-icon.icon-reload-b, .center-icon.icon-reload-b, .pair-icon.icon-reload-b:after {
    background-image: url('images/button_icon_reload_b.png');
}

.simple-icon.icon-update-w, .center-icon.icon-update-w, .pair-icon.icon-update-w:after {
    background-image: url('images/button_icon_update_w.png');
}

.simple-icon.icon-update-b, .center-icon.icon-update-b, .pair-icon.icon-update-b:after {
    background-image: url('images/button_icon_update_b.png');
}

.simple-icon.icon-download-w, .center-icon.icon-download-w, .pair-icon.icon-download-w:after {
    background-image: url('images/button_icon_download_w.png');
}

.simple-icon.icon-download-b, .center-icon.icon-download-b, .pair-icon.icon-download-b:after {
    background-image: url('images/button_icon_download_b.png');
}

.simple-icon.icon-help-w, .center-icon.icon-help-w, .pair-icon.icon-help-w:after {
    background-image: url('images/button_icon_help_w.png');
}

.simple-icon.icon-help-b, .center-icon.icon-help-b, .pair-icon.icon-help-b:after {
    background-image: url('images/button_icon_help_b.png');
}

.simple-icon.icon-info-w, .center-icon.icon-info-w, .pair-icon.icon-info-w:after {
    background-image: url('images/button_icon_info_w.png');
}

.simple-icon.icon-info-b, .center-icon.icon-info-b, .pair-icon.icon-info-b:after {
    background-image: url('images/button_icon_info_b.png');
}

.simple-icon.icon-trash-w, .center-icon.icon-trash-w, .pair-icon.icon-trash-w:after {
    background-image: url('images/button_icon_recycle_w.png');
}

.simple-icon.icon-trash-b, .center-icon.icon-trash-b, .pair-icon.icon-trash-b:after {
    background-image: url('images/button_icon_recycle_b.png');
}

.simple-icon.icon-alert-w, .center-icon.icon-alert-w, .pair-icon.icon-alert-w:after {
    background-image: url('images/button_icon_alert_w.png');
}

.simple-icon.icon-alert-b, .center-icon.icon-alert-b, .pair-icon.icon-alert-b:after {
    background-image: url('images/button_icon_alert_b.png');
}

.simple-icon.icon-back-w, .center-icon.icon-back-w, .pair-icon.icon-back-w:after {
    background-image: url('images/button_icon_back_w.png');
}

.simple-icon.icon-back-b, .center-icon.icon-back-b, .pair-icon.icon-back-b:after {
    background-image: url('images/button_icon_back_b.png');
}

.simple-icon.icon-forward-w, .center-icon.icon-forward-w, .pair-icon.icon-forward-w:after {
    background-image: url('images/button_icon_forward_w.png');
}

.simple-icon.icon-forward-b, .center-icon.icon-forward-b, .pair-icon.icon-forward-b:after {
    background-image: url('images/button_icon_forward_b.png');
}

/* ----------------------------------------- */
/* ---------- G : .bubbles ----------------- */

.bubble-lefttop.success:before {
    border-right-color: #2ecc71;
}

.bubble-lefttop.success:hover:before {
    border-right-color: #29b362;
}

.bubble-righttop.success:before {
    border-left-color: #2ecc71;
}

.bubble-righttop.success:hover:before {
    border-left-color: #29b362;
}

.bubble-topleft.success:before {
    border-bottom-color: #2ecc71;
}

.bubble-topleft.success:hover:before {
    border-bottom-color: #29b362;
}

.bubble-bottomleft.success:before {
    border-top-color: #2ecc71;
}

.bubble-bottomleft.success:hover:before {
    border-top-color: #29b362;
}

/* ----------------------------------------- */
/* ---------- G : .message ----------------- */

.message.success {
    background-color: #2ecc71;
    color: #fff;
}

.message.info {
    background-color: #3aabf6;
    color: #fff;
}

.message.error {
    background-color: #e74c3c;
    color: #fff;
}

.message.alert {
    background-color: #f1c40f;
    color: #333;
}

.message.light.success {
    background-color: #2ecc71;
    background-color: rgba(46,204,113,0.2);
    border-color: rgba(46,204,113,0.5);
    color: #333;
}

.message.light.success > .topic {
    color: rgba(39,174,96,1);
}

.message.light.info {
    background-color: #3aabf6;
    background-color: rgba(52,152,219,0.2);
    border-color: rgba(52,152,219,0.5);
    color: #333;
}

.message.light.info > .topic {
    color: rgba(41,128,185,1);
}

.message.light.alert {
    background-color: #f1c40f;
    background-color: rgba(241,196,15,0.2);
    border-color: rgba(241,196,15,0.5);
    color: #333;
}

.message.light.alert > .topic {
    color: rgba(243,156,18,1);
}

.message.light.error {
    background-color: #e74c3c;
    background-color: rgba(231,76,60,0.2);
    border-color: rgba(231,76,60,0.5);
    color: #333;
}

.message.light.error > .topic {
    color: rgba(231,76,60,1);
}

/* -------------------------------------- */
/* ---------- G : .tabs ----------------- */

.tabsbox.snow-box {
    background-color: #f5f7f6;
    color: #333;
}

.tabsbox.success-box {
    background-color: #2ecc71;
    color: #fff;
}

.tabsbox.toxic-box {
    background-color: #8dc63f;
    color: #fff;
}

.tabsbox.success-tab > .tabs > .tab:hover {
    color: #2ecc71;
}

.tabsbox.success-tab > .tabs > .tab.active {
    background-color: #2ecc71;
    color: #fff;
}

.tabsbox.success-tab > .tabs > .tab.active:hover {
    color: #fff;
}

.tabsbox.success-tab > .bodies {
    background-color: #2ecc71;
    color: #fff;
}
